@charset "UTF-8";

/*자유게시판 글작성폼 css시작 */
.div_insertform {
    margin: auto;
    width: 50%; /* You can adjust the width as needed */
    padding: 20px; /* You can adjust the padding as needed */
    
}
/*자유게시판 글작성폼 table css*/
.table_insertform {
	width: 100%;
	margin: auto;
	border-collapse: collapse;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	table-layout: fixed;
}

/*  th */
.table_insertform th {
	background-color: #333;
	color: #fff;
	/*padding: 1px;*/
	border: 1px solid #555;
	width: 15%;
	table-layout: fixed;
}

/*  td*/
.table_insertform td {
	padding: 15px;
	border: 1px solid #ddd; /* 셀 테두리 선 스타일 추가 */
}

/* 행 호버 효과 스타일 */
.table_insertform td:hover {
	background-color: #ddd;
}

.table_insertform input[type="text"],
.table_insertform textarea {
    /* 여기에 원하는 스타일을 추가하세요 */
    /*width: 100%;*/
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

/* 예시 스타일 - 필요에 따라 수정하세요 */
.table_insertform input[type="text"]:focus,
.table_insertform textarea:focus {
    border: 2px solid #555;
    outline: none;
}

/* 버튼 div*/
.div_boardform_button{
	text-align: center;
	margin-top: 3%; 
}
.boardform_button {
	flex: 0.3;
/* 	margin-left: 100px; 오른쪽으로 10px만큼 이동 */
	padding: 8px 14px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background-color: #000000;
	color: #ffffff;
	border: 2px solid #000000;
	border-radius: 5px;
	transition: background-color 0.3s ease, color 0.3s ease;
	/*margin-right: 10%; /* 오른쪽 여백을 부모 요소의 크기에 대한 퍼센트로 조절 */
	margin-bottom: 10%; /* 아래쪽 여백을 부모 요소의 크기에 대한 퍼센트로 조절 */
	bottom: -30%; /* 아래로 10% 이동 */
}

.boardform_button:hover {
	background-color: #ffffff;
	color: #000000;
}
/*자유게시판 글작성폼 css끝 */